@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto:wght@100;300;400;500;700&display=swap');

*{
   box-sizing: border-box; 
   -ms-overflow-style: none;
   scrollbar-width: none;
}

*:link{
    text-decoration: none;
}

body{
    background-color: #e5e5e5;
}

*::-webkit-scrollbar{
    display: none;
}


/* Barra de titulo */

.titulo{
    height: 92px; 
    width: 100%;
    background-color: #CF2B2B;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    z-index: 1;
}

.titulo h1 {
    font-family: 'Righteous', cursive;
    font-size: 44px;
    color: #ffffff;
    margin-left: 21px;
}

.titulo h3{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #ffffff;
    margin-left: 21px;
}

/* Barra de titulo */

/* Conteudo da pagina */

.container{
    width:100%;
    margin: 110px 0;
}


.container > div{
    margin-bottom: 30px;
}

.container h2{
    font-family: 'Righteous', cursive;
    font-size: 26px;
    color: #333333;
    margin-left: 19px;
    margin-bottom: 17px;
}

.opcoes{
    display: flex;
    overflow-x: scroll;
    
        
}

.opcoes > div{
    min-width: 172px;
    height: 216px;
    background-color: #ffffff;
    margin-left: 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 9px;
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25);
    border: 5px solid #ffffff;
    position: relative;
}


.opcoes img{
    width: 144px;
    height: 87px;
    margin: 18px 14px 8px 10px;
}

.opcoes h4{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #333333;
    margin-bottom: 9px;
    margin-left: 10px;
}

.descricao{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 300;
    color: #a6a6a6;
    margin-bottom: 9px;
    margin-left: 10px;
}

.preco{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #000000;
    margin-left: 10px;
}
/* Conteudo da pagina */

/* Barra de finalizar o pedido */

.n-finalizar{
    height: 92px; 
    width: 100%;
    background-color: #ffffff;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.n-finalizar > div{
    width: 88%;
    height: 61px;
    border-radius: 50px;
    background-color: #CBCBCB;
    align-items: center;
   
}

.n-finalizar p{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    margin-top: 13px;
}

.finalizar{
    height: 92px; 
    width: 100%;
    background-color: #ffffff;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.finalizar > div{
    width: 88%;
    height: 61px;
    border-radius: 50px;
    background-color: #32B72F;
    align-items: center;
   
}

.finalizar p{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    margin-top: 20px;
}

.escondido{
    display: none;
}

/* Barra de finalizar o pedido */

/* Icones de verificado */

#iconsF{
    font-size: 18px;
    color: rgba(50, 183, 47, 0);
    position: absolute;
    bottom: 10px;
    right: 5px;
    
}
#iconsC{
    font-size: 18px;
    color: rgba(50, 183, 47, 0);
    position: absolute;
    bottom: 10px;
    right: 5px;
    
}

#iconsP{
    font-size: 18px;
    color: rgba(50, 183, 47, 0);
    position: absolute;
    bottom: 10px;
    right: 5px;
    
}

#iconsV{
    font-size: 18px;
    color: rgba(50, 183, 47, 0);
    position: absolute;
    bottom: 10px;
    right: 5px;
    
}

#iconsCoca{
    font-size: 18px;
    color: rgba(50, 183, 47, 0);
    position: absolute;
    bottom: 10px;
    right: 5px;
    
}

#iconsRef{
    font-size: 18px;
    color: rgba(50, 183, 47, 0);
    position: absolute;
    bottom: 10px;
    right: 5px;
    
}

#iconsAgua{
    font-size: 18px;
    color: rgba(50, 183, 47, 0);
    position: absolute;
    bottom: 10px;
    right: 5px;
    
}

#iconsPu{
    font-size: 18px;
    color: rgba(50, 183, 47, 0);
    position: absolute;
    bottom: 10px;
    right: 5px;
    
}

#iconsBri{
    font-size: 18px;
    color: rgba(50, 183, 47, 0);
    position: absolute;
    bottom: 10px;
    right: 5px;
    
}

#iconsMa{
    font-size: 18px;
    color: rgba(50, 183, 47, 0);
    position: absolute;
    bottom: 10px;
    right: 5px;
    
}


/* Icones de verificado */

/* Caixa de confirmação */

.teladeconfirm{
    width: 91%;
    height: 330px;
    position: fixed;
    left: 18px;
    top: 200px;
    background-color: rgba(80, 208, 116, 1);
    border-radius: 9px;
    display: flex;
    font-size: 20px;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    flex-direction: column;
    align-items: center;
}
 .teladeconfirm > :first-child{
     margin-top: 20px;
     margin-bottom: 25px;
 }

 .teladeconfirm h3{
     font-weight: 700;
 }
 .escondido{
    display: none;
}
 #resumo{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

#resumo > div{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin-bottom: 20px;
}

 #fim{
    width: 87%;
    height: 52px;
    background-color: #ffffff;
    border-radius: 100px;
    color: #50D074;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    margin-bottom: 20px;
 }